
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path ('app_home') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">

      {% if is_granted('ROLE_PHARVIGI_DMM_EVAL') or is_granted('ROLE_PHARVIGI_SURV_EVAL')  or is_granted('ROLE_PHARVIGI_SURV_GEST') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cas Marquants / Erreurs Médicamenteuses Marquantes
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {% if is_granted('ROLE_PHARVIGI_SURV_GEST') %}
                <li><a class="dropdown-item" href="#">Création d'un cas</a></li>
              {% endif %}
              {% if is_granted('ROLE_PHARVIGI_SURV_EVAL') %}
                <li><a class="dropdown-item" href="#">Réception des CM/EMM</a></li>
              {% endif %}
              {% if is_granted('ROLE_PHARVIGI_DMM_EVAL') %}
                <li><a class="dropdown-item" href="#">Recevabilité DMM</a></li>
              {% endif %}

              <li><a class="dropdown-item" href="#">Évaluation des CM/EMM</a></li>

              {% if is_granted('ROLE_PHARVIGI_SURV_EVAL') %}
                <li class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#">Préparations des CSP</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Exports Excel et PDF</a></li>
                    <li><a class="dropdown-item" href="#">Import des fichiers d'avis d'experts</a></li>
                    <li><a class="dropdown-item" href="#">Import des fichiers d'avis d'experts compilé</a></li>
                    <li><a class="dropdown-item" href="#">Import des fichier de prise de note</a></li>
                  </ul>
                </li>
              {% endif %}
              {% if is_granted('ROLE_PHARVIGI_SURV_EVAL') %}              
                <li><a class="dropdown-item" href="#">Prise de notes durant CSP</a></li>
              {% endif %}
              {% if is_granted('ROLE_PHARVIGI_SURV_EVAL') %}
                <li class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#">Exports Excels divers</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Exports pilotage</a></li>
                    <li><a class="dropdown-item" href="#">Exports plénier</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
			{% endif %}

      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SIMAD
            </a>

          </li>
        </ul>
			{% endif %}

      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signaux biblio
            </a>

          </li>
        </ul>
			{% endif %}

      
      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usages Non-Conformes
            </a>

          </li>
        </ul>
			{% endif %}


      
      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Faits marquants
            </a>

          </li>
        </ul>
			{% endif %}


      
      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Autres signaux
            </a>

          </li>
        </ul>
			{% endif %}

      {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
      <ul class="navbar-nav">
        <li class="nav-item">
          {# <a class="nav-link" href="{{ path ('app_admin_tbref') }}">Administration</a> #}
          <a class="nav-link" href="#">Administration</a>
        </li>
      </ul>
      {% endif %}

      {% if is_granted('ROLE_USER') %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aide
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {# <li><a class="dropdown-item" href="{{ asset('guide_utilisateur/guide_utilisateur.html') }}" target="_blank">Guide utilisateur</a></li> #}
              <li><a class="dropdown-item" href="#" target="_blank">Guide utilisateur</a></li>
              {% if is_granted('ROLE_PHARVIGI_ADMIN') %}
                {# <li><a class="dropdown-item" href="{{ asset('guide_utilisateur/guide_utilisateur_administrateur.html') }}" target="_blank">Guide utilisateur d'administration</a></li> #}
                <li><a class="dropdown-item" href="#" target="_blank">Guide utilisateur d'administration</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
			{% endif %}

      {# Liens pour la connexion/deconnexion #}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if app.user %}
          <li class="nav-item">
            {# <a class="nav-link" href="{{ path ('app_logout') }}">Deconnexion</a> #}
            <a class="nav-link" href="{{ path ('app_logout') }}">Deconnexion</a>
          </li>
          {% if is_granted('ROLE_PHARVIGI_ADMIN') == false %}
            <li class="nav-item">
              {# <a class="nav-link" href="{{ path ('app_modif_user_password') }}">Modification de mon mot de passe</a> #}
              <a class="nav-link" href="#">Modification de mon mot de passe</a>
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item">
            {# <a class="nav-link" href="{{ path ('app_login') }}">Connexion</a> #}
            <a class="nav-link" href="{{ path ('app_login') }}">Connexion</a>
          </li>
          <li class="nav-item">
            {# <a class="nav-link" href="{{ path ('app_contact_admin') }}">Inscription</a> #}
            <a class="nav-link" href="#">Inscription</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
