{% block stylesheets %}
    {{ encore_entry_link_tags('form_creation_cas_cm_donnees_principales') }}
{% endblock %}

{# Formulaire des données principales #}
<div class="form-container">
    {{ form_row(form.TypeCasPV) }}
    {{ form_row(form.numeroBNPV) }}
    {{ form_row(form.problematique) }}
    {{ form_row(form.propositionCRPV) }}
    {{ form_row(form.conclusions) }}
    {{ form_row(form.presentation) }}
    {{ form_row(form.CRPV) }}
    {{ form_row(form.codeCRPV) }}
    {{ form_row(form.gravite) }}
    {{ form_row(form.deces) }}
    {{ form_row(form.miseEnJeuPronostic) }}
    {{ form_row(form.hospitalisation) }}
    {{ form_row(form.incapacite) }}
    {{ form_row(form.anomalieCongenitale) }}
    {{ form_row(form.autreSituation) }}
    {{ form_row(form.typologie) }}
    {{ form_row(form.dateArrivee) }}
    {{ form_row(form.age) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.uniteAge) }}
    {{ form_row(form.effetIndesirable) }}
    {{ form_row(form.prequalificationDSURV) }}
    {{ form_row(form.motifPrequalification) }}
    {{ form_row(form.investigationDP) }}
    {{ form_row(form.echangeDMM_CRPV) }}
    {{ form_row(form.cluster) }}
    {{ form_row(form.finalise) }}
    {{ form_row(form.casPere) }}
    {{ form_row(form.lettre) }}
    {{ form_row(form.motifQualificationDMM) }}
    {{ form_row(form.SRE) }}
    {{ form_row(form.niveauRisqueFinal) }}
    {{ form_row(form.niveauRisquePGS) }}
    {# champs spécifiques aux cas marquants #}
    {{ form_row(form.avisCRPV) }}
    {{ form_row(form.MotifNonPresentation) }}
    {{ form_row(form.suiviEnquete) }}
    {{ form_row(form.ListeCRPV) }}
    {{ form_row(form.MaitriseRisque_Commentaire) }}

</div>
