{% block stylesheets %}
    {{ encore_entry_link_tags('form_creation_cas_cm_donnees_complementaires') }}
{% endblock %}

{# Formulaire des données complémentaires #}
<div class="form-container">
    {{ form_row(form.DonneesComplementairesCM.EI_Attendu) }}
    {{ form_row(form.DonneesComplementairesCM.EI_Inattendu) }}
    {{ form_row(form.DonneesComplementairesCM.PlausibilitePharma) }}
    {{ form_row(form.DonneesComplementairesCM.TabCliniInhab) }}
    {{ form_row(form.DonneesComplementairesCM.TabCliniInhab_comment) }}
    {{ form_row(form.DonneesComplementairesCM.ChronoEvo) }}
    {{ form_row(form.DonneesComplementairesCM.SemioEvo) }}
    {{ form_row(form.DonneesComplementairesCM.SemioEvo_comment) }}
    {{ form_row(form.DonneesComplementairesCM.ContexPriseMedic) }}
    {{ form_row(form.DonneesComplementairesCM.ContexPriseMedic_comment) }}
    {{ form_row(form.DonneesComplementairesCM.SeulMedicSusp) }}
    {{ form_row(form.DonneesComplementairesCM.RisqueRecu) }}
    {{ form_row(form.DonneesComplementairesCM.RisqueRecu_comment) }}
    {{ form_row(form.DonneesComplementairesCM.AutreCasBNPV) }}
    {{ form_row(form.DonneesComplementairesCM.AutreCasBNPV_comment) }}
    {{ form_row(form.DonneesComplementairesCM.AutreCasVigylise) }}
    {{ form_row(form.DonneesComplementairesCM.AutreCasVigylise_comment) }}
    {{ form_row(form.DonneesComplementairesCM.ParticulaMedic) }}
    {{ form_row(form.DonneesComplementairesCM.ParticulaMedic_comment) }}
    {{ form_row(form.DonneesComplementairesCM.RisqueDocuLitt) }}
    {{ form_row(form.DonneesComplementairesCM.RisqueDocuLitt_comment) }}
    {{ form_row(form.DonneesComplementairesCM.ContextMedia) }}
    {{ form_row(form.DonneesComplementairesCM.ContextMedia_comment) }}
    {{ form_row(form.DonneesComplementairesCM.PersistProb) }}
    {{ form_row(form.DonneesComplementairesCM.PersistProb_comment) }}
    {{ form_row(form.DonneesComplementairesCM.ASMR_SMR) }}
    {{ form_row(form.DonneesComplementairesCM.ASMR_SMR_comment) }}
    {{ form_row(form.DonneesComplementairesCM.UtilHorsAMM_RTU_ATU) }}
    {{ form_row(form.DonneesComplementairesCM.UtilHorsAMM_RTU_ATU_Choix) }}
    {{ form_row(form.DonneesComplementairesCM.Autre) }}
    {{ form_row(form.DonneesComplementairesCM.Autre_comment) }}
</div>
