{% block stylesheets %}
    {{ encore_entry_link_tags('form_creation_cas_cm_donnees_principales') }}
{% endblock %}

{# Formulaire des données principales #}
{{ form_start(formCM) }}
<div class="form-container">
    {{ form_row(formCM.TypeCasPV) }}
    {{ form_row(formCM.numeroBNPV) }}
    {{ form_row(formCM.problematique) }}
    {{ form_row(formCM.propositionCRPV) }}
    {{ form_row(formCM.conclusions) }}
    {{ form_row(formCM.presentation) }}
    {{ form_row(formCM.CRPV) }}
    {{ form_row(formCM.codeCRPV) }}
    {{ form_row(formCM.gravite) }}
    {{ form_row(formCM.deces) }}
    {{ form_row(formCM.miseEnJeuPronostic) }}
    {{ form_row(formCM.hospitalisation) }}
    {{ form_row(formCM.incapacite) }}
    {{ form_row(formCM.anomalieCongenitale) }}
    {{ form_row(formCM.autreSituation) }}
    {{ form_row(formCM.typologie) }}
    {{ form_row(formCM.dateArrivee) }}
    {{ form_row(formCM.age) }}
    {{ form_row(formCM.sexe) }}
    {{ form_row(formCM.uniteAge) }}
    {{ form_row(formCM.effetIndesirable) }}
    {{ form_row(formCM.prequalificationDSURV) }}
    {{ form_row(formCM.motifPrequalification) }}
    {{ form_row(formCM.investigationDP) }}
    {{ form_row(formCM.echangeDMM_CRPV) }}
    {{ form_row(formCM.cluster) }}
    {{ form_row(formCM.finalise) }}
    {{ form_row(formCM.casPere) }}
    {{ form_row(formCM.lettre) }}
    {{ form_row(formCM.motifQualificationDMM) }}
    {{ form_row(formCM.SRE) }}
    {{ form_row(formCM.niveauRisqueFinal) }}
    {{ form_row(formCM.niveauRisquePGS) }}
</div>
{{ form_end(formCM) }}
